<form (ngSubmit)="recalculate()" #calcForm="ngForm"
	id="calc-form">

<div align="center" class="container">

<div class="row">
<div class="col-md-3 offset-md-1">
	<input [(ngModel)]="model.operand1" #operand1="ngModel"
		id="operand1" name="operand1" autocomplete="off"
		class="form-control" required pattern="\d+(\.\d+)?">
	<div [hidden]="operand1.valid || operand1.pristine"
	     class="error-message">
	  Field should have numeric format
	</div>	
</div>
		
<div class="col-md-2">
	<select [(ngModel)]="model.mathOperation" #mathOperation="ngModel"
		id="mathOperation" name="mathOperation"
		class="form-control">
		<option *ngFor="let operation of mathOperations"
		 	[value]="operation">{{operation}}</option>
	</select>
</div>
		
<div class="col-md-3">		
	<input [(ngModel)]="model.operand2" #operand2="ngModel"
		id="operand2" name="operand2" autocomplete="off"
		class="form-control" required pattern="\d+(\.\d+)?">
	<div [hidden]="operand2.valid || operand2.pristine"
	     class="error-message">
	  Field should have numeric format
	</div>	
</div>
		
<div class="col-md-2">		
	<button type="submit" class="form-control btn-default"
		[disabled]="!calcForm.form.valid">Calculate</button>
</div>
</div>

<div class="row">

<div class="col-md-4" align="right">
	Result:
</div>

<div class="col-md-8" align="left" *ngIf="operationResult">
	<span *ngIf="operationResult.isOk" class="font-weight-bold">{{operationResult.value}}</span>
	<span *ngIf="!operationResult.isOk">{{operationResult.errorMessage}}</span>
</div>

</div>

</div>

</form>
